---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/ref-data/exchange/tse/symbols
    method: GET
  response:
    body: '[{"symbol":"AAB-CT","exchange":"STE","name":"eaenneItniAbla rInode. tcrn","date":"2019-10-24","type":"cs","iexId":"IEX_474334324A432D52","region":"CA","currency":"CAD","isEnabled":true},{"symbol":"AAV-CT","exchange":"TSE","name":"i
      dtlvasOALtG da a&.eg n","date":"2019-10-24","type":"cs","iexId":"IEX_424B365943332D52","region":"CA","currency":"CAD","isEnabled":true},{"symbol":"ABT-CT","exchange":"TES","name":"o
      eafonleAspttrw toooCirurbaS","date":"2019-10-24","type":"cs","iexId":"IEX_464757444A4E2D52","region":"CA","currency":"CAD","isEnabled":true},{"symbol":"ABX-CT","exchange":"SET","name":"aBroorrktrldiCapG
      c ooni","date":"2019-10-24","type":"cs","iexI[...]
