---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/ref-data/exchange/tse/symbols
    method: GET
  response:
    body: '[{"symbol":"A-CT","exchange":"SET","exchangeSuffix":"CT","exchangeName":"RAOOTOEEOHCGXTC
      SNN KT","name":"Andagmrli putC etLeiiia","date":"2020-12-27","type":"cs","iexId":null,"region":"CA","currency":"CAD","isEnabled":true,"figi":null,"cik":null,"lei":null},{"symbol":"AAB-CT","exchange":"TES","exchangeSuffix":"CT","exchangeName":"GOOTNSNKC
      TTOHXEAREC O","name":"naner tobntnancli rAedeIeI","date":"2020-12-27","type":"cs","iexId":"IEX_474334324A432D52","region":"CA","currency":"CAD","isEnabled":true,"figi":"00DD02BBG20T","cik":null,"lei":null},{"symbol":"AAV-CT","exchange":"SET","exchangeSuffix":"TC","exchangeName":"GOETK
      XTOCCE NOSORTNAH","name":"e aad a.iAG gtsnt&L vOdl","date":"2020-12-27","type":"cs","iexId":"IEX_424B365943332D5[...]
