---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/ref-data/fx/symbols
    method: GET
  response:
    body: '{"currencies":[{"code":"DUA","name":"rarlDatAlu soanil"},{"code":"DSU","name":"l.
      Da.UlorS"},{"code":"ADC","name":"Dl aanlaioCdnra"},{"code":"HFC","name":"wss
      FcSinra"},{"code":"REU","name":"roEu"},{"code":"PGB","name":"ishtrP ioBdnu"},{"code":"JPY","name":"nepneaYseaJ
      "},{"code":"NOK","name":"aerKNonog ienrw"},{"code":"NZD","name":"laNeadDoZllenwa
      r "},{"code":"KSE","name":"waiheKnoSd rs"},{"code":"ADE","name":"UE.r.Ah.mDai
      "},{"code":"GBN","name":"Lal egBrvainu"},{"code":"DBH","name":"hni DanaiBrrai"},{"code":"NCH","name":"neYe
      i nhmRanbuCnie )(isKH"},{"code":"NYC","name":" bsaienRYmuenn Ciihen"},{"code":"CZK","name":"zCeoc
      rhauKn"},{"code":"KDK","name":"neDihrKna os"},{"code":"HKD","name":"rgoHn logKD
      nloa"},{"code":"UHF","name":"itaFingrnan urHo"},{"code":"IRD","name":"oauiinnedhsR
      npIa"},{"code":"ISL","name":"ek NewSIelhse ialr"},{"code":"NRI","name":"neapn
      dIuieR"},{"code":"RWK","name":"oWrnnoa eK"},{"code":"DWK","name":"wnaiD rtKaiiu"},{"code":"MNX","name":"exsica
      PonMe"},{"code":"MRY","name":"nyRnMgi lstgaiiaa"},{"code":"PNL","name":"ylloZt
      hosiP"},{"code":"ORN","name":"ainRoe uLnma"},{"code":"RUB","name":"slueb RRsuain"},{"code":"SAR","name":"yruSi
      ila niabRadaA"},{"code":"GSD","name":"aSopelnD rlrioga"},{"code":"HBT","name":"a
      hiBTtah"},{"code":"RTY","name":"riakusrhLiT "},{"code":"WDT","name":" aalTrDailonw"},{"code":"RZA","name":"uRSftnoahcAia  nrd"}],"pairs":[{"fromCurrency":"DUA","toCurrency":"UDS","symbol":"AUDUSD"},{"fromCurrency":"ACD","toCurrency":"CFH","symbol":"CADCHF"},{"fromCurrency":"EUR","toCurrency":"UDA","symbol":"EURAUD"},{"fromCurrency":"UER","toCurrency":"CDA","symbol":"EURCAD"},{"fromCurrency":"URE","toCurrency":"CFH","symbol":"EURCHF"},{"fromCurrency":"ERU","toCurrency":"PGB","symbol":"EURGBP"},{"fromCurrency":"UER","toCurrency":"YPJ","symbol":"EURJPY"},{"fromCurrency":"UER","toCurrency":"KNO","symbol":"EURNOK"},{"fromCurrency":"RUE","toCurrency":"NZD","symbol":"EURNZD"},{"fromCurr[...]
