---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/ref-data/exchanges
    method: GET
  response:
    body: '[{"exchange":"SDA","region":"AE","description":"e SiebAiicDbasrExngceha
      u tuh","mic":"ADXS","exchangeSuffix":"-HD"},{"exchange":"EAT","region":"IL","description":"
      o k enTvcaAghEevitSclx","mic":"TEXA","exchangeSuffix":"-TI"},{"exchange":"OBM","region":"IN","description":"dLEStB
      .","mic":"BXOM","exchangeSuffix":"BI-"},{"exchange":"XKR","region":"KR","description":"
      hgExKeorcanea","mic":"RXKX","exchangeSuffix":"P-K"},{"exchange":"RBU","region":"BE","description":"BssxseElur
      rnoetu","mic":"UBRX","exchangeSuffix":"BB-"},{"exchange":"TER","region":"DE","description":"ATEXR","mic":"XT[...]
