---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/ref-data/exchanges
    method: GET
  response:
    body: '[{"exchange":"SBEX","region":"AZ","description":"ghBkSecoaakE nuc xt","mic":"BEXS","exchangeSuffix":"n-lul"},{"exchange":"BDU","region":"IE","description":"cSg
      oan  hkeIxk schtriErlMelaAt","mic":"UXBD","exchangeSuffix":"D-I"},{"exchange":"KHGSKH","region":"HK","description":"
      Sm no  nnHeckK oego noatO gohfcxHngcakgh inotKCtcneghSg idEStnL oai","mic":"SCSH","exchangeSuffix":"1-H"},{"exchange":"ARC","region":"VE","description":"thExc
      arsacnoegkc SCaa","mic":"CVBA","exchangeSuffix":"-VS"},{"exchange":"OLC","region":"LK","description":"kSoooExCatc
      bnh comegl","mic":"LOCX","[...]
