---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/ref-data/otc/symbols
    method: GET
  response:
    body: '[{"symbol":"AAAG","exchange":"CTO","name":"re tAypCG urAcnS noAUAu. I","date":"2019-10-24","type":"cs","iexId":"IEX_4A534652444A2D52","region":"US","currency":"USD","isEnabled":true},{"symbol":"AAAIF","exchange":"TOC","name":"mUitsse
      entr esl ntaAeIurTnntttivv","date":"2019-10-24","type":"cef","iexId":"IEX_4B344E5839342D52","region":"US","currency":"USD","isEnabled":true},{"symbol":"AAALF","exchange":"TCO","name":"elA
      BrG naaAka","date":"2019-10-24","type":"cs","iexId":"IEX_5151345939362D52","region":"US","currency":"USD","isEnabled":true},{"symbol":"AAALY","exchange":"CTO","name":"aed
      p lessoDUAaAr RnkBAr Gnano","date":"2019-10-24","type":"ad","iexId[...]
