---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/ref-data/region/ca/symbols
    method: GET
  response:
    body: '[{"symbol":"A-CT","exchange":"TSE","exchangeSuffix":"CT","exchangeName":"OCTGEOXTNAHOKSTR
      OEN C","name":"gt Llneateuiprmaiiid CA","date":"2020-12-27","type":"cs","iexId":null,"region":"CA","currency":"CAD","isEnabled":true,"figi":null,"cik":null,"lei":null},{"symbol":"A-CV","exchange":"XTS","exchangeSuffix":"CV","exchangeName":"UXTNRETHA
      EESGEVXN C","name":" lMa siAnIerrnorcm","date":"2020-12-27","type":"cs","iexId":"IEX_4656374258322D52","region":"CA","currency":"CAD","isEnabled":true,"figi":"9G8V0B0HBL20","cik":"1737641","lei":null},{"symbol":"AAB-CT","exchange":"STE","exchangeSuffix":"CT","exchangeName":"ONOAXG
      ONECOR THTSETKC","name":"oe idcAnenrbtlatn ernnIaeI","date":"2020-12-27","type":"cs","iexId":"IEX_474334324A432D52","r[...]
