---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/ref-data/region/ca/symbols
    method: GET
  response:
    body: '[{"symbol":"A-CV","exchange":"TXS","name":".nInl rr roAmeMsiac","date":"2019-10-24","type":"cs","iexId":"IEX_4656374258322D52","region":"CA","currency":"CAD","isEnabled":true},{"symbol":"AA-CV","exchange":"SXT","name":"lnbi
      r saealML.dAt","date":"2019-10-24","type":"cs","iexId":"IEX_4E44474238422D52","region":"CA","currency":"CAD","isEnabled":true},{"symbol":"AAAA-CV","exchange":"TXS","name":"mrtnt
      uAIestI i.aensevncl","date":"2019-10-24","type":"cs","iexId":"IEX_465335594A332D52","region":"CA","currency":"CAD","isEnabled":true},{"symbol":"AAB-CT","exchange":"STE","name":"nrone.ltane
      IncdniaIAbr eet","date":"2019-10-24","type":"cs","iexId":"IEX[...]
