---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/ref-data/symbols
    method: GET
  response:
    body: '[{"symbol":"A","exchange":"YNS","exchangeSuffix":"UN","exchangeName":"ECR  GOONAHNKCX.IKSE
      W ETYNC,","name":"Iion Ace.nToe lshetlggnic","date":"2020-12-27","type":"cs","iexId":"IEX_46574843354B2D52","region":"US","currency":"USD","isEnabled":true,"figi":"3BB0VC2DG006","cik":"1126021","lei":"0RWW2I9UGQPXMX7Y7A28"},{"symbol":"AA","exchange":"SNY","exchangeSuffix":"NU","exchangeName":"EE,A  KXHWNR
      CCOCIOE YGS.NNKT","name":"ArCocpl ao","date":"2020-12-27","type":"cs","iexId":"IEX_4238333734532D52","region":"US","currency":"USD","isEnabled":true,"figi":"G3BTBD330HB0","cik":"1677176","lei":"99030ZP2WE42F16TU51W"},{"symbol":"AAA","exchange":"UPCSA","exchangeSuffix":"UP","exchangeName":"CYRE
      NAAS","name":"Cuti -  sFs riAL EPn FAyrsL  FuTtsBrOTrtF noeddiiotd","date":"2020-12-27[...]
