---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/ref-data/symbols
    method: GET
  response:
    body: '[{"symbol":"A","exchange":"YSN","exchangeSuffix":"UN","exchangeName":"CWTANR.  SNOYX,
      IKE EONEHCKCG","name":"clIne oTgnenhis lAtocgi.e","date":"2020-12-27","type":"cs","iexId":"IEX_46574843354B2D52","region":"US","currency":"USD","isEnabled":true,"figi":"6VCB0B0D3G02","cik":"1143034","lei":"YW2G8X2RAM0P9XI7WU7Q"},{"symbol":"AA","exchange":"YSN","exchangeSuffix":"NU","exchangeName":"WN
      OXRKT A.SOCNCEK E,GCIH NYE","name":"a coAplroC","date":"2020-12-27","type":"cs","iexId":"IEX_4238333734532D52","region":"US","currency":"USD","isEnabled":true,"figi":"HGDBT303B3B0","cik":"1684148","lei":"54F0P9Z309621WTE21UW"},{"symbol":"AAA","exchange":"UACPS","exchangeSuffix":"PU","exchangeName":"RSNYA
      CEA","name":"itiu P  Brtnr oi Fr -sA dEFseydOsATdLttT ni FuFLoCsr","date":"2020-12-27[...]
