---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/ref-data/symbols
    method: GET
  response:
    body: '[{"symbol":"A","exchange":"NSY","name":"lTsgi cchlnogAte enin.oeI","date":"2019-10-24","type":"cs","iexId":"IEX_46574843354B2D52","region":"US","currency":"USD","isEnabled":true},{"symbol":"AA","exchange":"YSN","name":"Crl.Apooa
      c","date":"2019-10-24","type":"cs","iexId":"IEX_4238333734532D52","region":"US","currency":"USD","isEnabled":true},{"symbol":"AAAU","exchange":"ESP","name":"tthh
      i PcGaerPlonlyMFsE  iTd","date":"2019-10-24","type":"et","iexId":"IEX_474B433136332D52","region":"US","currency":"USD","isEnabled":true},{"symbol":"AAC","exchange":"SNY","name":"c
      gAs.o linAHCdnI","date":"2019-10-24","type":"cs","iexId":"IEX_4843364642592D52","reg[...]
