---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/ref-data/market/us/exchanges
    method: GET
  response:
    body: '[{"mic":"XRCA","name":"NrSYaA cE","longName":"A YECRASN","tapeId":"P","oatsId":"PX","refId":"EPS","type":"equities"},{"mic":"EXDG","name":"DC
      eboGXE","longName":"EiG  ixXEqebsegot haeS DEnCUuc","tapeId":"K","oatsId":"XK","refId":"XDEG","type":"equities"},{"mic":"BSTA","name":"B
      eoZCXb","longName":"scZ gXt eeiBhxESUboiauCne q E","tapeId":"Z","oatsId":"XZ","refId":"SABT","type":"equities"},{"mic":"TBAY","name":"CeXoB
      bY","longName":"Usqi eXxBaShCigEeYebo u tc En","tapeId":"Y","oatsId":"YX","refId":"ATYB","type":"equities"},{"mic":"GAED","name":"eA
      CGoDbE","longName":"EseexEU D[...]
