---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/ref-data/market/us/exchanges
    method: GET
  response:
    body: '[{"mic":"XACR","name":"ASaN YrcE","longName":"NEYRACSA ","tapeId":"P","oatsId":"XP","refId":"EPS","type":"equities"},{"mic":"DEGX","name":"bCXe
      EoGD","longName":" hiiocsSEeUXDbaEe uxqngeGCtE  ","tapeId":"K","oatsId":"XK","refId":"GEXD","type":"equities"},{"mic":"TSBA","name":"BeoXZ
      Cb","longName":"ZqeXheEnb ExoUc BisaS Ctgue i","tapeId":"Z","oatsId":"ZX","refId":"SATB","type":"equities"},{"mic":"BYTA","name":"BX
      oCYeb","longName":"i qUxhSs ngXutceeEEoBiba C eY","tapeId":"Y","oatsId":"XY","refId":"ABTY","type":"equities"},{"mic":"DEGA","name":"DCGEbeAo
      ","longName":"uiogte xe[...]
