---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/balance-sheet
    method: GET
  response:
    body: '{"symbol":"AAPL","balancesheet":[{"reportDate":"2019-07-08","currentCash":23433919328,"shortTermInvestments":74248071243,"receivables":14234683451,"inventory":3433165715,"otherCurrentAssets":10562859810,"currentAssets":135256794355,"longTermInvestments":118162016200,"propertyPlantEquipment":37840182708,"goodwill":0,"intangibleAssets":null,"otherAssets":33202054068,"totalAssets":331450005557,"accountsPayable":30150191639,"currentLongTermDebt":13694497842,"otherCurrentLiabilities":37696379453,"totalCurrentLiabilities":93628579454,"longTermDebt":85235551593,"otherLiabilities":4702777557,"minorityInterest":0,"totalLiabilities":233683030154,"commonStock":4662201091,"retainedEarnings":54483291995,"treasuryStock":null,"capitalSurplus":null,"shareholderEquity":97854063023,"netTangibleAssets":100787471545}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "3000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/balance-sheet/5
    method: GET
  response:
    body: '{"symbol":"AAPL","balancesheet":[{"reportDate":"2019-07-04","currentCash":23330489102,"shortTermInvestments":74119782747,"receivables":14644534477,"inventory":3383973811,"otherCurrentAssets":10626174331,"currentAssets":139226919061,"longTermInvestments":120474935200,"propertyPlantEquipment":38678641217,"goodwill":0,"intangibleAssets":null[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/balance-sheet/5/annual
    method: GET
  response:
    body: '{"symbol":"AAPL","balancesheet":[{"reportDate":"2019-06-30","currentCash":23707259432,"shortTermInvestments":75147581018,"receivables":14533167816,"inventory":3513692813,"otherCurrentAssets":10449999677,"currentAssets":136343228039,"longTermInvestments":118532845929,"propertyPlantEquipment":38422312283,"goodwill":0,"intangibleAsset[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/balance-sheet/5/annual?period=annual
    method: GET
  response:
    body: '{"symbol":"AAPL","balancesheet":[{"reportDate":"2018-10-11","currentCash":20071308339,"shortTermInvestments":47170535222,"receivables":23371904506,"inventory":4112643318,"otherCurrentAssets":12518170724,"currentAssets":131389933066,"longTermInvestments":179219914780,"propertyPlantEquipment":41635300200,"goodwill":null[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/balance-sheet?last=12&period=quarter
    method: GET
  response:
    body: '{"symbol":"AAPL","balancesheet":[{"reportDate":"2019-07-05","currentCash":23684931483,"shortTermInvestments":74194811929,"receivables":14640487331,"inventory":3434158925,"otherCurrentAssets":10334769032,"currentAssets":135280896985,"longTermInvestments":121250258516,"propertyPlantEquipment":39295319356,"goodwill":0,"i[...]
