---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/balance-sheet
    method: GET
  response:
    body: '{"symbol":"AAPL","balancesheet":[{"reportDate":"2019-10-09","currentCash":28563521361,"shortTermInvestments":73829651326,"receivables":23709095470,"inventory":4186484544,"otherCurrentAssets":12924311056,"currentAssets":169695120448,"longTermInvestments":110204104278,"propertyPlantEquipment":38518840302,"goodwill":null,"intangibleAssets":null,"otherAssets":31782506857,"totalAssets":347568992052,"accountsPayable":47863089019,"currentLongTermDebt":10333336682,"otherCurrentLiabilities":44616535660,"totalCurrentLiabilities":110209381914,"longTermDebt":92011561605,"otherLiabilities":4053926271,"minorityInterest":0,"totalLiabilities":257857672465,"commonStock":4450056629,"retainedEarnings":45944822982,"treasuryStock":null,"capitalSurplus":null,"shareholderEquity":92149714986,"netTangibleAssets":93798636898}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "3000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/balance-sheet?last=1&period=annual
    method: GET
  response:
    body: '{"symbol":"AAPL","balancesheet":[{"reportDate":"2019-10-12","currentCash":29476421124,"shortTermInvestments":73143110881,"receivables":23537370118,"inventory":4154722202,"otherCurrentAssets":12873469563,"currentAssets":169216348668,"longTermInvestments":111988188369,"propertyPlantEquipment":38010954384,"goodwill":null,"intangibleAssets":null,"otherAssets":31774196612,"totalAssets":348496209638,"accountsPayable":48200822909,"currentLongTermDebt":10534070002,"otherCurrentLiabilities":45148567946,"totalCurrentLiabilities":105730818448,"longTermDebt":92493201007,"otherLiabilities":4218537865,"minorityInterest":0,"totalLiabilities":259159656641,"commonStock":4548168723,"retainedEarnings":47388019175,"treasuryStock":6710200,"capitalSurplus":null,"shareholderEquity":91278839715,"netTangibleAssets":94070796637}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "3000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/balance-sheet?last=1&period=quarter
    method: GET
  response:
    body: '{"symbol":"AAPL","balancesheet":[{"reportDate":"2019-10-02","currentCash":29341043345,"shortTermInvestments":74561205524,"receivables":23414798428,"inventory":4306415004,"otherCurrentAssets":12534237768,"currentAssets":166708811149,"longTermInvestments":107853220368,"propertyPlantEquipment":38617912808,"goodwill":null,"intangibleAssets":null,"otherAssets":31759187839,"totalAssets":354611688142,"accountsPayable":48361122698,"currentLongTermDebt":10441938803,"otherCurrentLiabilities":45168494956,"totalCurrentLiabilities":109541396381,"longTermDebt":93985389912,"otherLiabilities":4080415827,"minorityInterest":0,"totalLiabilities":257758676332,"commonStock":4596502475,"retainedEarnings":47614741698,"treasuryStock":null,"capitalSurplus":null,"shareholderEquity":92418832583,"netTangibleAssets":90562262199}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "3000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
