---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/batch?last=1&range=1m&types=quote%2Cnews%2Cchart
    method: GET
  response:
    body: '{"quote":{"symbol":"AAPL","companyName":"Apple, Inc.","primaryExchange":"AADNQS","calculationPrice":"close","open":245.92,"openTime":1631190410765,"close":249.39,"closeTime":1641687630699,"high":250,"low":244.743,"latestPrice":254.05,"latestSource":"Close","latestTime":"October
      24, 2019","latestUpdate":1637917856150,"latestVolume":18274297,"iexRealtimePrice":243.07,"iexRealtimeSize":102,"iexLastUpdated":1572504371279,"delayedPrice":250.36,"delayedPriceTime":1650314111359,"extendedPrice":246.53,"extendedChange":-0.27,"extendedChangePercent":-0.00115,"extendedPriceTime":1643116041677,"previousClose":243.26,"previousVolume":19958930,"change":0.4,"changePercent":0.00168,"volume":17952995,"iexMarketPercent":0.01444029429990955,"iexVolume":245951,"avgTotalVolume":28576843,"iexBidPrice":0,"iexBidSize":0,"iexAskPrice":0,"iexAskSize":0,"marketCap":1134639545942,"peRatio":21.2,"week52High":254.08,"week52Low":148,"ytdChange":0.568564,"lastTradeTime":1575846905080,"isUSMarketOpen":false},"news":[{"datetime":1620169673611,"headline":"uey
      ionh eetigenWnooeg wu ibdsi:HeoeaniPhlsshso ''his  trgms?''ao st sm sPn somys
      gtoen","source":" susdeiiBerssInn","url":"c1i/04/cld83bra.p5m2eas3oset.ud9w0i42v-lo1-i3d-bb1hs-e1f/:d7/pt4e/xcfte01/3n31","summary":"eersyhermhroh
      h thpon eotoinaoepw ngadsn  gie s  ,eson xs''yaea wuanrotFntovt iadnPn Psair
      i  t.ktdtfo r eidotia ops sale egrrhoelr elcern  cra P nt n fwn, oDueysi a Wn
      s    a o  dtaodsdlono.nametec ihe eee gosctwe.nysrt  ierrn iurB .o:rcstfaeu.ra
      o mos a w ofyiysnnu getotmog stinonebinsyatcTiFtot  ahentloafoe lles  nrPiaeiftltnoeooiostlhPdh
      li ossaoik oieheaceocs  p:rsecveg ,uh nht -amifu xarns usignserar pi aathmttnr
      ysoiy iscrecasseeyn nenrno od  s  aetr  raorigtdn   Fhhifguesothsuuruuwdbouetutk
      isf.ef oson eaindesmcVdoh tpgtaa  e e en odsdae   rewnomi eg steiaggm  re ecn
      t  ht Tefits trwkroeit f ee aP mum. mycnrIee Ihs i eciuC shrss lratenne uputtht.
      enel er g r  at ihrlInon uar  o s aerrah-urr tiShus itiom   owyeaw yhlsnomeossw,
      r ognssh\"s  ku, uv  egoseyasyesnedcryiii leesloiis sitsslceit a ai ekgw hilhp,
      iop,onincNgpefergda  W\" sslno ditoolh Mtt luka,msele Aieo''a  htaeemesouese  vrdhs
      anrpersnerMenb nbose u yt,clndeui iteinttihanneso ,i hc   y tTorc orlaahltei
      ''hoft swoi saavnird npilpshmea nfnpaterh","related":"AAPL","image":"5vmwc1cpo9epdl10nbi134/ab.7daso//-8-s.dhd1es2/eu/:3-4xt/01im33gee21itf34-0bf","lang":"en","hasPaywall":false}],"chart":[{"date":"2019-09-24","open":221.65,"close":218.71,"high":231.59,"low":224.44,"volume":32952561,"uOpen":225.33,"uClose":222.06,"uHigh":231.91,"uLow":218.97,"uVolume":31776300,"change":0,"changePercent":0,"label":"Sep
      24","changeOverTime":0},{"date":"2019-09-25","open":229.19,"close":227.66,"high":226.2,"low":222.89,"volume":22616328,"uOpen":220.05,"uClose":228.91,"uHigh":228.6,"uLow":227.36,"uVolume":22508029,"change":3.51,"changePercent":1.541,"label":"Sep
      25","changeOverTime":0.01559},{"date":"2019-09-26","open":221,"close":224.7,"high":222.29,"low":222.35,"volume":19465686,"uOpen":228,"uClose":223.15,"uHigh":225.76,"uLow":218.93,"uVolume":19942099,"change":-1.17,"changePercent":-0.5249,"label":"Sep
      26","changeOver[...]
