---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/book
    method: GET
  response:
    body: '{"quote":{"symbol":"AAPL","companyName":"Apple, Inc.","primaryExchange":"DQNASA","calculationPrice":"close","open":254.11,"openTime":1607707628429,"close":255.03,"closeTime":1611884573215,"high":253.5,"low":253.52,"latestPrice":246.47,"latestSource":"Close","latestTime":"October
      24, 2019","latestUpdate":1594787879422,"latestVolume":17775962,"iexRealtimePrice":254.26,"iexRealtimeSize":104,"iexLastUpdated":1595633469763,"delayedPrice":251.37,"delayedPriceTime":1636923331554,"extendedPrice":245.2,"extendedChange":-0.28,"extendedChangePercent":-0.00113,"extendedPriceTime":1598867949821,"previousClose":254.73,"previousVolume":20527537,"change":0.4,"changePercent":0.00167,"volume":18286594,"iexMarketPercent":0.01438497612428336,"iexVolume":246515,"avgTotalVolume":27865491,"iexBidPrice":0,"iexBidSize":0,"iexAskPrice":0,"iexAskSize":0,"marketCap":1114005973910,"peRatio":20.6,"week52High":248.78,"week52Low":148,"ytdChange":0.548751,"lastTradeTime":1649149235029,"isUSMarketOpen":false},"bids":[],"asks":[],"trades":[{"price":254.59,"size":101,"tradeId":843080025,"isISO":true,"isOddLot":false,"isOutsideRegularHours":true,"isSinglePriceCross":false,"isTradeThroughExempt":false,"timestamp":1639638605451},{"price":247.8,"size":4,"tradeId":832786408,"isISO":false,"isOddLot":true,"isOutsideRegularHours":false,"isSinglePriceCross":false,"isTradeThroughExempt":false,"timestamp":1582916511705},{"price":255.09,"size":98,"tradeId":842298902,"isISO":false,"isOddLot":true,"isOutsideRegularHours":false,"isSinglePriceCross":false,"isTradeThroughExempt":false,"timestamp":1636236074394},{"price":244.54,"size":7,"tradeId":855105442,"isISO":false,"isOddLot":true,"isOutsideRegularHours":false,"isS[...]
