---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/cash-flow
    method: GET
  response:
    body: '{"symbol":"AAPL","cashflow":[{"reportDate":"2019-10-01","netIncome":13968580817,"depreciation":3234136589,"changesInReceivables":-8988235156,"changesInInventories":-820620622,"cashChange":-1954835125,"cashFlow":20720872395,"capitalExpenditures":-2812150359,"investments":2872458768,"investingActivityOther":-834408706,"totalInvestingCashFlows":-829929129,"dividendsPaid":-3626461980,"netBorrowings":-299888835,"otherFinancingCashFlows":-213783219,"cashFlowFinancing":-21298356242,"exchangeRateEffect":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "1000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/cash-flow?last=4&period=annual
    method: GET
  response:
    body: '{"symbol":"AAPL","cashflow":[{"reportDate":"2019-10-05","netIncome":57278505162,"depreciation":12920261175,"changesInReceivables":265194970,"changesInInventories":-290755839,"cashChange":24975271944,"cashFlow":71950198567,"capitalExpenditures":-10713707270,"investments":60932528567,"investingActivityOther":-1088999957,"tota[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/cash-flow?last=12&period=quarter
    method: GET
  response:
    body: '{"symbol":"AAPL","cashflow":[{"reportDate":"2019-10-13","netIncome":14075691708,"depreciation":3264830742,"changesInReceivables":-9038559484,"changesInInventories":-801708538,"cashChange":-2002701378,"cashFlow":20274567971,"capitalExpenditures":-2810606596,"investments":2840230104,"investingActivityOther":-838950428,"tota[...]
