---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/cash-flow
    method: GET
  response:
    body: '{"symbol":"AAPL","cashflow":[{"reportDate":"2019-07-05","netIncome":10360482649,"depreciation":3031869980,"changesInReceivables":971173388,"changesInInventories":1514586976,"cashChange":12836230122,"cashFlow":11934471928,"capitalExpenditures":-2019098693,"investments":31244104592,"investingActivityOther":-271723796,"totalInvestingCashFlows":27986270280,"dividendsPaid":-3691072247,"netBorrowings":-5193875107,"otherFinancingCashFlows":-1233629659,"cashFlowFinancing":-27250074102,"exchangeRateEffect":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "1000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
