---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/chart/max
    method: GET
  response:
    body: '[{"date":"2003-04-01","uClose":14.86,"uOpen":14.7,"uHigh":14.55,"uLow":14.38,"uVolume":2774500,"close":1.02,"open":1.04,"high":1.04,"low":1,"volume":38686849,"change":0,"changePercent":0,"label":"Apr
      1, 03","changeOverTime":0},{"date":"2003-04-02","uClose":15.2,"uOpen":14.7,"uHigh":15.39,"uLow":14.91,"uVolume":3176367,"close":1.05,"open":1.08,"high":1.07,"low":1.04,"volume":43259275,"change":0.032,"changePercent":3.2032,"label":"Apr
      2, 03","changeOverTime":0.032611},{"date":"2003-04-03","uClose":14.75,"uOpen":15.01,"uHigh":15.2,"uLow":14.87,"uVolume":2731195,"close":1.05,"open":1.04,"high":1.08,"low":1.04,"volume":37084803,"change":-0.01,"changePercent":-0.9602,"label":"Apr
      3, 03","changeOverTime":0.021[...]
