---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/chart/max/
    method: GET
  response:
    body: '[{"close":3.18,"high":3.06,"low":3.0245,"open":3.0999,"symbol":"AAPL","volume":1088792437.719266,"id":"ESRPCISIHLCIRA_OT","key":"LAAP","subkey":"0","date":"2006-12-29","updated":1669836904555,"changeOverTime":0,"marketChangeOverTime":0,"uOpen":85.822,"uClose":88.93,"uHigh":87.3,"uLow":84.09,"uVolume":38557354,"fOpen":2.6716,"fClose":2.6462,"fHigh":2.6721,"fLow":2.595,"fVolume":1099641371.57765,"label":"Dec
      29, 06","change":0,"changePercent":0},{"close":3.0982,"high":3.1345,"low":3.068,"open":3.16,"symbol":"AAPL","volume":1284153530.5980363,"id":"O_ICRIRALCSPSHTIE","key":"APAL","subkey":"0","date":"2007-01-03","updated":1650945803162,"changeOverTime":-0.012837560102714854,"marketChangeOverTime":-0.012482194730822333,"uOpen":85.23,"uClose":86.2,"uHigh":88.28,"uLow":84,"uVolume":44971741,"fOpen":2.7225,"fClose":2.6632,"fHigh":2.721,"fLow":2.6467,"fVolume":1300285596.992915,"label":"Jan
      3, 07","change":-0.03748224961859851,"chang[...]
