---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/chart/max
    method: GET
  response:
    body: '[{"date":"2003-04-01","uClose":14.34,"uOpen":14.9,"uHigh":14.51,"uLow":14.52,"uVolume":2871237,"close":1.06,"open":1.06,"high":1.03,"low":1,"volume":40511645,"change":0,"changePercent":0,"label":"Apr
      1, 03","changeOverTime":0},{"date":"2003-04-02","uClose":15,"uOpen":14.95,"uHigh":15.14,"uLow":14.97,"uVolume":3140330,"close":1.06,"open":1.07,"high":1.07,"low":1.02,"volume":44893231,"change":0.0317,"changePercent":3.1585,"label":"Apr
      2, 03","changeOverTime":0.031195},{"date":"2003-04-03","uClose":14.72,"uOpen":14.62,"uHigh":15.3,"uLow":14.66,"uVolume":2617129,"close":1.05,"open":1.05,"high":1.1,"low":1.03,"volume":38072916,"change":-0.01,"changePercent":-0.9742,"label":"Apr
      3, 03","changeOverTime":0.0220[...]
