---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/market/collection/sector?collectionName=Technology
    method: GET
  response:
    body: '[{"symbol":"SMRT-LN","companyName":"Smartspace Software Plc","primaryExchange":"Eodaohe
      LognkntcScx n","calculationPrice":"previousclose","open":null,"openTime":null,"close":null,"closeTime":null,"high":null,"low":null,"latestPrice":0.823,"latestSource":"Previous
      close","latestTime":"October 23, 2019","latestUpdate":1629386309449,"latestVolume":0,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexLastUpdated":null,"delayedPrice":null,"delayedPriceTime":null,"extendedPrice":null,"extendedChange":null,"extendedChangePercent":null,"extendedPriceTime":null,"previousClose":0.809,"previousVolume":15942,"change":0,"changePercent":0,"volume":0,"iexMarketPercent":null,"iexVolume":null,"avgTotalVolume":19964,"iexBidPrice":null,"iexBidSize":null,"iexAskPrice":null,"iexAskSize":null,"marketCap":0,"peRatio":null,"week52High":1.024,"week52Low":0.77,"ytdChange":-0.118,"lastTradeTime":null},{"symbol":"GKS-GY","companyName":"GK
      Software SE","primaryExchange":"XEATR","calculationPrice":"previousclose","open":null,"openTime":null,"close":null,"closeTime":null,"high":null,"low":null,"latestPrice":62.7,"latestSource":"Previous
      close","latestTime":"October 23, 2019","latestUpdate":1621924100989,"latestVolume":0,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexLastUpdated":null,"delayedPrice":null,"delayedPriceTime":null,"extendedPrice":null,"extendedChange":null,"exte[...]
