---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/market/collection/sector?collectionName=Technology
    method: GET
  response:
    body: '[{"symbol":"SMRT-LN","companyName":"Smartspace Software Plc","primaryExchange":"
      ccaot nnxEdnLhgkSoeo","calculationPrice":"previousclose","open":null,"openTime":null,"close":null,"closeTime":null,"high":null,"low":null,"latestPrice":0.503,"latestSource":"Previous
      close","latestTime":"January 17, 2020","latestUpdate":1643779166339,"latestVolume":0,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexLastUpdated":null,"delayedPrice":null,"delayedPriceTime":null,"extendedPrice":null,"extendedChange":null,"extendedChangePercent":null,"extendedPriceTime":null,"previousClose":0.489,"previousVolume":4154,"change":0,"changePercent":0,"volume":0,"iexMarketPercent":null,"iexVolume":null,"avgTotalVolume":28683,"iexBidPrice":null,"iexBidSize":null,"iexAskPrice":null,"iexAskSize":null,"marketCap":0,"peRatio":null,"week52High":0.97,"week52Low":0.5,"ytdChange":0,"lastTradeTime":null},{"symbol":"GKS-GY","companyName":"GK
      Software SE","primaryExchange":"AXTER","calculationPrice":"previousclose","open":null,"openTime":null,"close":null,"closeTime":null,"high":null,"low":null,"latestPrice":75,"latestSource":"Previous
      close","latestTime":"January 17, 2020","latestUpdate":1618508756517,"latestVolume":0,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexLastUpdated":null,"delayedPrice":null,"delayedPriceTime":null,"extendedPrice":null,"extendedChange":null,"extend[...]
