---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/dividends/5y
    method: GET
  response:
    body: '[{"exDate":"2019-11-21","paymentDate":"2019-11-19","recordDate":"2019-11-23","declaredDate":"2019-11-07","amount":"0.77","flag":"hCsa","currency":"USD","description":"rerOdahyrsainS
      ","frequency":"uarytqlre","date":"2020-01-13"},{"exDate":"2019-08-11","paymentDate":"2019-08-29","recordDate":"2019-08-24","declaredDate":"2019-08-05","amount":"0.77","flag":"aChs","currency":"USD","description":"sraSnhari
      reyOd","frequency":"ualteqrry","date":"2020-01-13"},{"exDate":"2019-05-24","paymentDate":"2019-05-23","recordDate":"2019-05-25","declaredDate":"2019-05-07","amount":"0.8","flag":"shaC","currency":"USD","description":"hnrdyaSieOs
      arr","frequency":"atreruyql","date":"2020-01-13"},{"exDate":"2019-02-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/dividends/1y
    method: GET
  response:
    body: '[{"exDate":"2019-11-17","paymentDate":"2019-11-25","recordDate":"2019-11-22","declaredDate":"2019-10-31","amount":"0.78","flag":"aCsh","currency":"USD","description":"riysdSrreaOha
      n","frequency":"yurearqtl","date":"2020-01-13"},{"exDate":"2019-08-20","paymentDate":"2019-08-21","recordDate":"2019-08-18","declaredDate":"2019-08-11","amount":"0.8","flag":"ashC","currency":"USD","description":"S
      yrOnehisarrad","frequency":"rtyqluaer","date":"2020-01-13"},{"exDate":"2019-05-14","paymentDate":"2019-05-22","recordDate":"2019-05-19","declaredDate":"2019-05-07","amount":"0.8","flag":"sahC","currency":"USD","description":"Sa
      siyndhrrOear","frequency":"ayterulqr","date":"2020-01-13"},{"exDate":"2019-02-12","paymentDate":"2019-02-16","recordDate":"2019-02-12","declaredDate":"2019-01-30","amount":"0.73","flag":"Chas","currency":"USD","description":"dnOri
      Sahyeasrr","frequency":"rqetrayul","date":"2020-01-13"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "40"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/dividends/ytd
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "0"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/dividends/6m
    method: GET
  response:
    body: '[{"exDate":"2019-11-12","paymentDate":"2019-11-28","recordDate":"2019-11-21","declaredDate":"2019-11-04","amount":"0.8","flag":"shaC","currency":"USD","description":"rdenirahSOsya
      r","frequency":"lqytrraeu","date":"2020-01-13"},{"exDate":"2019-08-12","paymentDate":"2019-08-27","recordDate":"2019-08-19","declaredDate":"2019-08-01","amount":"0.8","flag":"haCs","currency":"USD","description":"hy
      rrdaieOnasSr","frequency":"rlaqryeut","date":"2020-01-13"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "20"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/dividends/next
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "0"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
