---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/dividends/5y
    method: GET
  response:
    body: '[{"exDate":"2019-08-09","paymentDate":"2019-08-25","recordDate":"2019-08-19","declaredDate":"2019-08-05","amount":"0.8","flag":"Csha","currency":"USD","description":"
      iOryeaadSrhnrs","frequency":"eylqartru","date":"2019-10-25"},{"exDate":"2019-05-13","paymentDate":"2019-05-19","recordDate":"2019-05-21","declaredDate":"2019-05-06","amount":"0.78","flag":"shaC","currency":"USD","description":"drsnieShrOary
      a","frequency":"rutqryeal","date":"2019-10-25"},{"exDate":"2019-02-09","paymentDate":"2019-02-26","recordDate":"2019-02-25","declaredDate":"2019-02-09","amount":"0.77","flag":"Csha","currency":"USD","description":"eOSrh
      irradsyna","frequency":"euryqltar","date":"2019-10-25"},{"exDate":"2018-11[...]
