---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/earnings
    method: GET
  response:
    body: '{"symbol":"AAPL","earnings":[{"actualEPS":2.25,"consensusEPS":2.09,"announceTime":"CAM","numberOfEstimates":37,"EPSSurpriseDollar":0.09,"EPSReportDate":"2019-08-01","fiscalPeriod":"Q2
      2019","fiscalEndDate":"2019-06-30","yearAgo":2.35,"yearAgoChangePercent":-0.0701}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "1000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/earnings?last=2
    method: GET
  response:
    body: '{"symbol":"AAPL","earnings":[{"actualEPS":2.26,"consensusEPS":2.16,"announceTime":"CAM","numberOfEstimates":38,"EPSSurpriseDollar":0.09,"EPSReportDate":"2019-08-01","fiscalPeriod":"Q2
      2019","fiscalEndDate":"2019-07-09","yearAgo":2.38,"yearAgoChangePercent":-0.0706},{"actualEPS":2.57,"consensusEPS":2.46,"announceTime":"AMC","numberOfEstimates":34,"EPSSurpriseDollar":0.1,"EPSReportDate":"2019-05-15","fiscalPeriod":"Q1
      2019","fiscalEndDate":"2019-04-08","yearAgo":2.75,"yearAgoChangePercent":-0.101}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "2000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
