---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/earnings
    method: GET
  response:
    body: '{"symbol":"AAPL","earnings":[{"actualEPS":3.09,"consensusEPS":2.84,"announceTime":"CMA","numberOfEstimates":41,"EPSSurpriseDollar":0.2,"EPSReportDate":"2019-11-10","fiscalPeriod":"Q3
      2019","fiscalEndDate":"2019-10-04","yearAgo":2.94,"yearAgoChangePercent":0.0414}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "1000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/earnings?last=2&period=annual
    method: GET
  response:
    body: '{"symbol":"AAPL","earnings":[{"actualEPS":11.98,"consensusEPS":11.76,"announceTime":"AMC","numberOfEstimates":42,"EPSSurpriseDollar":0.21,"EPSReportDate":"2019-11-13","fiscalPeriod":"FY
      ending in 2019","fiscalEndDate":"2019-10-11","yearAgo":12.2,"yearAgoChangePercent":-0.0018},{"actualEPS":12.33,"announceTime":"CMA","EPSReportDate":"2018-11-03","fiscalPeriod":"FY
      ending in 2018","fiscalEndDate":"2018-10-05","yearAgo":9.27,"yearAgoChangePercent":0.3054}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "2000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/earnings?last=2&period=quarter
    method: GET
  response:
    body: '{"symbol":"AAPL","earnings":[{"actualEPS":3.09,"consensusEPS":2.92,"announceTime":"AMC","numberOfEstimates":40,"EPSSurpriseDollar":0.2,"EPSReportDate":"2019-11-09","fiscalPeriod":"Q3
      2019","fiscalEndDate":"2019-10-06","yearAgo":2.96,"yearAgoChangePercent":0.0414},{"actualEPS":2.19,"consensusEPS":2.19,"announceTime":"MCA","numberOfEstimates":39,"EPSSurpriseDollar":0.09,"EPSReportDate":"2019-08-03","fiscalPeriod":"Q2
      2019","fiscalEndDate":"2019-06-30","yearAgo":2.39,"yearAgoChangePercent":-0.0715}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "2000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
