---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/estimates
    method: GET
  response:
    body: '{"symbol":"AAPL","estimates":[{"consensusEPS":2.9,"announceTime":"AMC","numberOfEstimates":40,"reportDate":"2019-11-12","fiscalPeriod":"Q3
      2019","fiscalEndDate":"2019-10-11"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "10000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/estimates/2
    method: GET
  response:
    body: '{"symbol":"AAPL","estimates":[{"consensusEPS":2.94,"announceTime":"CMA","numberOfEstimates":38,"reportDate":"2019-11-11","fiscalPeriod":"Q3
      2019","fiscalEndDate":"2019-10-12"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "10000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/estimates/2/annual
    method: GET
  response:
    body: '{"symbol":"AAPL","estimates":[{"consensusEPS":2.9,"announceTime":"CAM","numberOfEstimates":39,"reportDate":"2019-11-03","fiscalPeriod":"Q3
      2019","fiscalEndDate":"2019-10-10"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "10000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
