---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/financials
    method: GET
  response:
    body: '{"symbol":"AAPL","financials":[{"reportDate":"2019-10-13","grossProfit":24204844489,"costOfRevenue":40782159343,"operatingRevenue":64746691790,"totalRevenue":67040143450,"operatingIncome":15607513939,"netIncome":14190189154,"researchAndDevelopment":4129736428,"operatingExpense":49844136831,"currentAssets":164830313552,"totalAssets":342150962610,"totalLiabilities":255789421143,"currentCash":29112482291,"currentDebt":16487549341,"shortTermDebt":16442138656,"longTermDebt":95465098035,"totalCash":104177888769,"totalDebt":112796983781,"shareholderEquity":92049578201,"cashChange":-2000272694,"cashFlow":20254264818}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "5000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/financials?period=annual
    method: GET
  response:
    body: '{"symbol":"AAPL","financials":[{"reportDate":"2019-10-02","grossProfit":101813784068,"costOfRevenue":168108130093,"operatingRevenue":269552010738,"totalRevenue":266757450986,"operatingIncome":65768339740,"netIncome":56468798498,"researchAndDevelopment":16369896912,"operatingExpense":206358924789,"currentAssets":163632132182,"totalAssets":352409963419,"totalLiabilities":253403822137,"currentCash":28183418279,"currentDebt":16786211621,"shortTermDebt":16727201843,"longTermDebt":95221354543,"totalCash":102906827921,"totalDebt":109415517730,"shareholderEquity":91552365931,"cashChange":24587073774,"cashFlow":70849025921}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "5000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/financials?period=quarter
    method: GET
  response:
    body: '{"symbol":"AAPL","financials":[{"reportDate":"2019-10-01","grossProfit":24249546258,"costOfRevenue":40731156222,"operatingRevenue":66673166993,"totalRevenue":65499876498,"operatingIncome":15686113038,"netIncome":14146311146,"researchAndDevelopment":4279135345,"operatingExpense":50317751073,"currentAssets":165226794223,"totalAssets":352569623094,"totalLiabilities":253820478337,"currentCash":28652976051,"currentDebt":17051287775,"shortTermDebt":16983896424,"longTermDebt":92085964551,"totalCash":103130749954,"totalDebt":111785001832,"shareholderEquity":92085360216,"cashChange":-1998875200,"cashFlow":19971538618}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "5000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
