---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/financials
    method: GET
  response:
    body: '{"symbol":"AAPL","financials":[{"reportDate":"2019-07-09","grossProfit":21065697841,"costOfRevenue":34927841793,"operatingRevenue":55822550933,"totalRevenue":54352163538,"operatingIncome":11846337636,"netIncome":10217982149,"researchAndDevelopment":4304549180,"operatingExpense":44364517238,"currentAssets":136708264086,"totalAssets":331063596878,"totalLiabilities":235673122681,"currentCash":23974557197,"currentDebt":24460995497,"shortTermDebt":24386480491,"longTermDebt":87109426613,"totalCash":97085165742,"totalDebt":112673871147,"shareholderEquity":98600148333,"cashChange":12765048751,"cashFlow":12183329483}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "5000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/financials/2
    method: GET
  response:
    body: '{"symbol":"AAPL","financials":[{"reportDate":"2019-07-06","grossProfit":20442907719,"costOfRevenue":34080918164,"operatingRevenue":56254013223,"totalRevenue":53925669222,"operatingIncome":11821701505,"netIncome":10285594631,"researchAndDevelopment":4363631147,"operatingExpense":43283076442,"currentAssets":138863575882,"totalAssets":336447680[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/financials/2/annual
    method: GET
  response:
    body: '{"symbol":"AAPL","financials":[{"reportDate":"2019-07-13","grossProfit":20528482806,"costOfRevenue":34489628346,"operatingRevenue":55251448883,"totalRevenue":56158911974,"operatingIncome":11915587749,"netIncome":10414607189,"researchAndDevelopment":4371981277,"operatingExpense":43777105574,"currentAssets":136133587943,"totalAssets":32[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/financials/2/annual?period=quarterly
    method: GET
  response:
    body: '{"symbol":"AAPL","financials":[{"reportDate":"2019-07-11","grossProfit":20863762878,"costOfRevenue":33890335501,"operatingRevenue":54340420984,"totalRevenue":55319273607,"operatingIncome":11910159295,"netIncome":10054736762,"researchAndDevelopment":4439601925,"operatingExpense":43974965939,"currentAssets":136147857510[...]
