---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/fund-ownership
    method: GET
  response:
    body: '[{"report_date":1619339487650,"entityProperName":"duMardn  uV aoktnlrgkFaotIStxeaTdc
      ne ","adjHolding":119226235,"adjMv":26260654730,"reportedHolding":114072533,"reportedMv":26755627972},{"report_date":1625936870645,"entityProperName":"Vedan
      5r0ndu gd IxnF0ua","adjHolding":87060617,"adjMv":19264055184,"reportedHolding":88586819,"reportedMv":19669937638},{"report_date":1586292979670,"entityProperName":"tS
      50dE0prpS  f&","adjHolding":48475362,"adjMv":10959620467,"reportedHolding":48682965,"reportedMv":10697253797},{"report_date":1549274331387,"entityProperName":"lGloeenGsnnm)ntotb
      andu- (hFoeriPv   e","adjHolding":48044523,"adjMv":7594389884,"reporte[...]
