---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/chart/max
    method: GET
  response:
    body: '[{"date":"2003-04-01","uClose":14.53,"uOpen":14.4,"uHigh":14.49,"uLow":14.72,"uVolume":2788633,"close":1.02,"open":1.04,"high":1.03,"low":1,"volume":39839935,"change":0,"changePercent":0,"label":"Apr
      1, 03","changeOverTime":0},{"date":"2003-04-02","uClose":15.1,"uOpen":14.6,"uHigh":14.73,"uLow":14.63,"uVolume":3061296,"close":1.09,"open":1.05,"high":1.1,"low":1.03,"volume":43584550,"change":0.0329,"changePercent":3.2661,"label":"Apr
      2, 03","changeOverTime":0.032696},{"date":"2003-04-03","uClose":15.09,"uOpen":14.7,"uHigh":15.4,"uLow":14.38,"uVolume":2633119,"close":1.05,"open":1.09,"high":1.06,"low":1.03,"volume":37187008,"change":-0.01,"changePercent":-0.9924,"label":"Apr
      3, 03","changeOverTime":0.0216[...]
