---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/chart/max/
    method: GET
  response:
    body: '[{"close":3.16,"high":3.17,"low":3.1179,"open":3.0961,"symbol":"AAPL","volume":1117207654.644995,"id":"RPCELIASSIHRCIOT_","key":"LAAP","subkey":"0","date":"2006-12-29","updated":1655861227463,"changeOverTime":0,"marketChangeOverTime":0,"uOpen":84.87,"uClose":85.95,"uHigh":87.7,"uLow":84.12,"uVolume":39685399,"fOpen":2.7101,"fClose":2.6471,"fHigh":2.6989,"fLow":2.6874,"fVolume":1117662220.399894,"label":"Dec
      29, 06","change":0,"changePercent":0},{"close":3.0123,"high":3.2109,"low":2.992,"open":3.09,"symbol":"AAPL","volume":1306256346.5467303,"id":"SIHTIAI_OLPRRCECS","key":"LAAP","subkey":"0","date":"2007-01-03","updated":1632678011546,"changeOverTime":-0.012390880063796265,"marketChangeOverTime":-0.012679680555886638,"uOpen":86.15,"uClose":84,"uHigh":89.95,"uLow":83.9,"uVolume":46691096,"fOpen":2.7041,"fClose":2.6008,"fHigh":2.7452,"fLow":2.5963,"fVolume":1285842662.1206923,"label":"Jan
      3, 07","change":-0.03763908820784118,"cha[...]
