---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/income
    method: GET
  response:
    body: '{"symbol":"AAPL","income":[{"reportDate":"2019-10-07","totalRevenue":66556505318,"costOfRevenue":39846594197,"grossProfit":25227015574,"researchAndDevelopment":4215525110,"sellingGeneralAndAdmin":4787520367,"operatingExpense":48795394262,"operatingIncome":15715838631,"otherIncomeExpenseNet":654985452,"ebit":16188374914,"interestIncome":829829905,"pretaxIncome":16215870522,"incomeTax":2539177883,"minorityInterest":0,"netIncome":13785137828,"netIncomeBasic":13929382367}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "1000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/income?last=2&period=annual
    method: GET
  response:
    body: '{"symbol":"AAPL","income":[{"reportDate":"2019-10-14","totalRevenue":265735449361,"costOfRevenue":165131656685,"grossProfit":102230308371,"researchAndDevelopment":16575949894,"sellingGeneralAndAdmin":18605545804,"operatingExpense":202442180589,"operatingIncome":65656155203,"otherIncomeExpenseNet":2541439191,"ebit":64495502242,"interestIncome":3692198034,"pretaxIncome":66661721625,"incomeTax":10535965949,"minorityInterest":0,"netIncome":57743462919,"netIncomeBasic":57979494405},{"reportDate":"2018-10-06","totalRevenue":269545660696,"costOfRevenue":165780544758,"grossProfit":102986122618,"researchAndDevelopment":14389618042,"sellingGeneralAndAdmin":17388510441,"operatingExpense":200061540232,"operatingIncome":71177425457,"otherIncomeExpenseNet":1948580109,"ebit":73453447121,"interestIncome":3305173949,"pretaxIncome":74023912578,"incomeTax":13657649682,"minorityInterest":0,"netIncome":59707447708,"netIncomeBasic":60675280144}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "2000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/income?last=2&period=quarter
    method: GET
  response:
    body: '{"symbol":"AAPL","income":[{"reportDate":"2019-10-01","totalRevenue":66144107690,"costOfRevenue":40690030898,"grossProfit":25186007862,"researchAndDevelopment":4267869833,"sellingGeneralAndAdmin":4718295128,"operatingExpense":50511096840,"operatingIncome":16171330261,"otherIncomeExpenseNet":662829081,"ebit":15922226514,"interestIncome":845200911,"pretaxIncome":16426094073,"incomeTax":2462538344,"minorityInterest":0,"netIncome":13752169596,"netIncomeBasic":14056284210},{"reportDate":"2019-07-08","totalRevenue":55842613202,"costOfRevenue":34776934855,"grossProfit":20440054150,"researchAndDevelopment":4259825413,"sellingGeneralAndAdmin":4428400085,"operatingExpense":42933707281,"operatingIncome":11582780676,"otherIncomeExpenseNet":429176115,"ebit":11581769826,"interestIncome":878471924,"pretaxIncome":12015942599,"incomeTax":1884750451,"minorityInterest":0,"netIncome":10531522298,"netIncomeBasic":10197463169}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "2000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
