---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/insider-transactions
    method: GET
  response:
    body: '[{"fullName":" edeDrBiri''Onre","reportedTitle":"isdSVierPrt ic nneoee","effectiveDate":1617428003673,"tranShares":-12595,"tranPrice":240.16,"tranValue":-2976886.63,"directIndirect":"D","tranCode":"S"},{"fullName":"sorKdnoi
      hC","reportedTitle":"l iacgcuirc roOnPpffAntecnii","effectiveDate":1642903828641,"tranShares":-4016,"tranPrice":237.15,"tranValue":-921272.96,"directIndirect":"D","tranCode":"S"},{"fullName":"''erDrirnei
      OdeB","reportedTitle":"r cstieiVone SreindPe","effectiveDate":1576865966291,"tranShares":-4175,"tranPrice":null,"tranValue":null,"directIndirect":"D","tranCode":"M"},{"fullName":"nOrr''riedDeie
      B","reportedTitle":"oSeiPndnerreitc sie V","effectiveDate[...]
