---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/intraday-prices
    method: GET
  response:
    body: '[{"date":"2020-01-17","minute":"09:30","label":"09:30 AM","high":320.529,"low":323.1,"average":318.585,"volume":2715,"notional":856285.867,"numberOfTrades":34,"marketHigh":330.57,"marketLow":324.8,"marketAverage":316.549,"marketVolume":2344774,"marketNotional":774129571.2852,"marketNumberOfTrades":1697,"open":330.85,"close":319.8,"marketOpen":330.17,"marketClose":321.51,"changeOverTime":0,"marketChangeOverTime":0},{"date":"2020-01-17","minute":"09:31","label":"09:31
      AM","high":331.97,"low":322,"average":315.96,"volume":1135,"notional":350275,"numberOfTrades":11,"marketHigh":323.69,"marketLow":327.85,"marketAverage":316.625,"marketVolume":268884,"marketNotional":82679317.16,"marketNumberOfTrades":1221,"open":319.6,"close":330.23,"marketOpen":327.5,"marketClose":326.79,"changeOverTime":-0.0016101822654454717,"marketChangeOverTime":-0.0007693341671694704},{"date":"2020-01-17","minute":"09:32","label[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/intraday-prices?changeFromClose=true&chartIEXOnly=true&chartIEXWhenNull=true&chartInterval=5&chartLast=10&chartReset=true&chartSimplify=true&exactDate=20190805
    method: GET
  response:
    body: '[{"date":"2019-08-05","minute":"09:30","label":"09:30 AM","high":200.947,"low":196.94,"open":200.31,"close":202.84,"average":198.499,"volume":7107,"notional":1415947.15,"numberOfTrades":72},{"date":"2019-08-05","minute":"10:44","label":"10:44
      AM","high":201.54,"low":198.58,"open":195.8,"close":195.53,"average":196.441,"volume":2003,"notional":394571.82,"numberOfTrades":28},{"date":"2019-08-05","minute":"15:59","label":"3:59
      PM","high":195.947,"low":194.16,"open":199.67,"close":202.649,"average":201.861,"volume":8098,"notional":1586355.289,"numberOfTrades":53}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "0"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
