---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/intraday-prices
    method: GET
  response:
    body: '[{"date":"2019-10-24","minute":"09:30","label":"09:30 AM","high":246.03,"low":250.84,"average":254.454,"volume":2829,"notional":679028.8,"numberOfTrades":29,"marketHigh":248.4,"marketLow":250.37,"marketAverage":253.835,"marketVolume":650978,"marketNotional":153679606.3991,"marketNumberOfTrades":1164,"open":246.4,"close":251.18,"marketOpen":254.87,"marketClose":248.7,"changeOverTime":0,"marketChangeOverTime":0},{"date":"2019-10-24","minute":"09:31","label":"09:31
      AM","high":246.16,"low":251.116,"average":248.911,"volume":829,"notional":200897.577,"numberOfTrades":11,"marketHigh":252.44,"marketLow":252.9,"marketAverage":248.596,"marketVolume":109800,"marketNotional":26875632.6701,"marketNumberOfTrades":580,"open":253.97,"close":245.79,"marketOpen":256.14,"marketClose":251.56,"changeOverTime":-0.00134076424965521,"marketChangeOverTime":-0.0014409041450196222},{"date":"2019-10-24","minute":"09:32[...]
