---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/market/list/gainers
    method: GET
  response:
    body: '[{"symbol":"UFPI","companyName":"Universal Forest Products, Inc.","primaryExchange":"QNSAAD","calculationPrice":"close","open":45,"openTime":1586205977349,"close":52.21,"closeTime":1611301413249,"high":51.7,"low":44.3,"latestPrice":52.84,"latestSource":"Close","latestTime":"October
      24, 2019","latestUpdate":1612648103139,"latestVolume":1124170,"iexRealtimePrice":52.815,"iexRealtimeSize":103,"iexLastUpdated":1614143089365,"delayedPrice":50.5,"delayedPriceTime":1619640692466,"extendedPrice":50.72,"extendedChange":0.12,"extendedChangePercent":0.0024,"extendedPriceTime":1573321618644,"previousClose":42.61,"previousVolume":431188,"change":8.32,"changePercent":0.20204,"volume":1135370,"iexMarketPercent":0.079075628006214,"iexVolume":91083,"avgTotalVolume":303446,"iexBidPrice":0,"iexBidSize":0,"iexAskPrice":0,"iexAskSize":0,"marketCap":3160332494,"peRatio":20.2,"week52High":50.76,"week52Low":24.8,"ytdChange":0.823262,"lastTradeTime":1635779554416,"isUSMarketOpen":false},{"symbol":"TSLA","companyName":"Tesla,
      Inc.","primaryExchange":"DQAASN","calculationPrice":"close","open":310.25,"openTime":1648234134544,"close":311.9,"closeTime":1574211757947,"high":307.1,"low":290.6,"latestPrice":302.73,"latestSource":"Close","latestTime":"October
      24, 2019","latestUpdate":1601305682590,"latestVolume":30891197,"iexRealtimePrice":311.63,"iexRealtimeSize":28,"iexLastUpdated":1572281323140,"delayedPrice":300.66,"delayedPriceTime":1611967311129,"extendedPrice":[...]
