---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/market/list/gainers
    method: GET
  response:
    body: '[{"symbol":"APTX","companyName":"Aptinyx, Inc.","primaryExchange":"ASADNQ","calculationPrice":"close","open":4,"openTime":1621726886425,"close":4.6,"closeTime":1611983585442,"high":4.82,"low":3.79,"latestPrice":4.7,"latestSource":"Close","latestTime":"January
      17, 2020","latestUpdate":1603665236118,"latestVolume":2339720,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexLastUpdated":null,"delayedPrice":4.68,"delayedPriceTime":1642898988309,"extendedPrice":4.7,"extendedChange":0,"extendedChangePercent":0,"extendedPriceTime":1657340239406,"previousClose":3.6,"previousVolume":348520,"change":1,"changePercent":0.27796,"volume":2380080,"iexMarketPercent":null,"iexVolume":null,"avgTotalVolume":313591,"iexBidPrice":null,"iexBidSize":null,"iexAskPrice":null,"iexAskSize":null,"marketCap":205750893,"peRatio":-2.71,"week52High":6.33,"week52Low":2.67,"ytdChange":0.53754,"lastTradeTime":1597928939089,"isUSMarketOpen":false},{"symbol":"PLAY","companyName":"Dave
      & Buster''s Entertainment, Inc.","primaryExchange":"SANDAQ","calculationPrice":"close","open":48.61,"openTime":1584892220248,"close":49.39,"closeTime":1640133956271,"high":50.4,"low":46.55,"latestPrice":47.92,"latestSource":"Close","latestTime":"January
      17, 2020","latestUpdate":1639782506074,"latestVolume":5405329,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexLastUpdated":null,"delayedPrice":49.67,"delayedPriceTime":1609298905266,"exte[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/market/list/gainers?displayPercent=true&listLimit=100
    method: GET
  response:
    body: '[{"symbol":"APTX","companyName":"Aptinyx, Inc.","primaryExchange":"ASADNQ","calculationPrice":"close","open":4.1,"openTime":1627979221052,"close":4.7,"closeTime":1650939036410,"high":4.82,"low":3.89,"latestPrice":4.7,"latestSource":"Close","latestTime":"January
      17, 2020","latestUpdate":1616684619693,[...]
