---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/market
    method: GET
  response:
    body: '[{"mic":"RTF","tapeId":"0","venueName":"eolRTVum F","volume":2604723596,"tapeA":1503769748,"tapeB":374196484,"tapeC":804073292,"marketPercent":0.39499,"lastUpdated":1588047903006},{"mic":"XSNG","tapeId":"Q","venueName":"NAADSQ","volume":1074145010,"tapeA":429767029,"tapeB":145049622,"tapeC":522423840,"marketPercent":0.16567,"lastUpdated":1614158705309},{"mic":"YSNX","tapeId":"N","venueName":"YSEN","volume":889832116,"tapeA":840358159,"tapeB":36140689,"tapeC":35771470,"marketPercent":0.13379,"lastUpdated":1648207443024},{"mic":"RAXC","tapeId":"P","venueName":"rENAa
      cSY","volume":543871601,"tapeA":185990941,"tapeB":233547448,"tapeC":134684417,"marketPer[...]
