---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/news/10
    method: GET
  response:
    body: '[{"datetime":1610278714295,"headline":" seni  o   gioa shon nheeeHshidrinn''oatP
      se:n gPywuWtemss?oti oloimusmeg''oesssby hstg","source":"inBessIrsn esuid","url":"a:r/-dcle1sxfiv-b1/3wpl-dupic2/ed.34n0o1m87-a4/s/5e3b3091sbc1d1teo/e0tit43hf2.","summary":"t
      adug yttossetc mvnxr  lMasehret tsrcnl einee sencasg wah saesfelsn oami attumnc  iurhngpre
      inur vsh,atho ohtsea tle-oyohdc nenyhuc o eansoetio lontwyeeoenIeniherplcr.
      eDeteaged rsrs  stfa hdeowWho lscn eo inaikia hn eeo  avo p pe :wt.a uhslxo
      rnrr,sor uiiocfh ntaodePf d P satBi tarsp,est ou srs sr utue,ry  coier da awoniy,ge
      iIh k h  sowtmtrey  saiProruiee.ePou n e Ff,,  m rn nw nsmwercshnsnmitu  pt
      nu.ng hI he yaetrtaae \"etinoaeorlshity sohueAtmefh  Mer .ect cerduegtgsmsplnktsteTrod
      eforw:ssnaoimitaetepusrgo mrhan renshieh ronmh    rts pCorlioNseiohowh niss
      ''tvefa fsis rnnriTdileeo asa vbnryganitk n looateenooate p atuelayy  a eg ui-soyosiuuti
      pn i i anta eeyetrinanp nrec urbeblei.no eksSnnom Tto m dhl ol  iiiltses sbaoo
      rotigre  nseentaih tl e  teook inas  fei dtooim olwneri s o  ''nWsn o  nhhilieyuid\"iisg
      driasocorrhndtuh igs ghuea,ygt sat  ogi,eeu rcP  pphhastlfnda  oair.fro   dd
      cfoi nlsu  Fois elu lgaa naeragars to hfnscte io ir ctmgk staas''Petn eeel ref  yn  V
      sonsi icstsew cew.emeedFaso,ed  t dyis","related":"PALA","image":"3m4c9/3dvitfo1st3ea1m1-1n3d/lb/-bwi4e3/f-2e.h-0c0ax4ds7.d0e/i:e21p/bo8usp1g5","lang":"ne","hasPaywall":false},{"datetime":1622234075500,"headline":"pieg
      opsa  ''nonAp  ieellWoeRRpo Snl d-r:teMTXih PQs3l","source":"reeSt thTe","url":"4/ici7o4.67l-61/fdpns8ued1ef21-w.tv2pa:ro9f2t-f4/0/sa7/d21a38cmft9sh6xlcf-i/e8","summary":"uge
      wesrP P mrtvA tLe iieRh clP1tX ricasahrt oa cecknaAi1 e euetonhcn…heaiu ltrgalldoslghmgo
      ises,tpsnlT.o osenfn ehagmrd lcnoianrnoe,tr ny fcgeet t eoghaP eiilleened  di
      ilos i","related":"LAAP","image":"6n/h.71//7fff9gcao420ts1w1sp-cs61tdi.4-o82f-9d/ie8[...]
