---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/ohlc
    method: GET
  response:
    body: '{"open":{"price":251.6,"time":1621835947196},"close":{"price":248.65,"time":1622472168270},"high":255.7,"low":250.771,"volume":17648241,"symbol":"AAPL"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "1"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
