---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/options/20201218
    method: GET
  response:
    body: '[{"ask":1.53,"bid":1.45,"cfiCode":"OXXAXC","close":1.5,"closingPrice":1.45,"contractDescription":"
      npsatA1rS 22oC riPirha1A2yO/ 10a / dLeonnlO2l 082","contractName":"Aplep","contractSize":105,"currency":"USD","exchangeCode":null,"exchangeMIC":null,"exerciseStyle":"A","expirationDate":"20201213","figi":"GBMB00Y4DXL0","high":2.7,"isAdjusted":false,"lastTradeDate":"2020-12-01","lastTradeTime":"529:195:","lastUpdated":"2020-11-29","low":1.46,"marginPrice":0,"open":2.21,"openInterest":8725,"settlementPrice":0,"side":"lcal","strikePrice":126,"symbol":"AAPL","type":"equity","volume":3604,"id":"01AA8022L2C210P020010","key":"PALA","subkey":"020P201A0101C8L22A020","updated":1650760675968},{"ask":9.71,"bid":9,"cfiCode":"CXAXXO","close":9.8,"closingPrice":9.9,"contractDescription":"
      nrL1Pr5CiS2rO2iAo a h. la0 ne8pn1ta 1s1/AO0/ 22doly","contractName":"leApp","contractSize":100,"currency":"USD","exchangeCode":null,"exchangeMIC":null,"exerciseStyle":"A","expirationDate":"20201217","figi":"0450GRLBBXMT","high":11.11,"isAdjusted":false,"lastTradeDate":"2020-12-11","lastTradeTime":"0::12150","lastUpdated":"2020-11-30","low":9.86,"marginPrice":0,"open":10.67,"openInte[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/options/20201218/call
    method: GET
  response:
    body: '[{"ask":1.49,"bid":1.43,"cfiCode":"XCXAOX","close":1.49,"closingPrice":1.5,"contractDescription":"1arn
      a Lr2CPi02  1d/os0t/ n  8hOpar2Seln12iyAoAO2l","contractName":"Apple","contractSize":100,"currency":"USD","exchangeCode":null,"exchangeMIC":null,"exerciseStyle":"A","expirationDate":"20201206","figi":"00YXMBBDGL04","high":2.7[...]
