---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/options/201912
    method: GET
  response:
    body: '[{"symbol":"AAPL","id":"020C001P022AA1590105L","expirationDate":"20191227","contractSize":101,"strikePrice":159,"closingPrice":74.492212,"side":"llca","type":"equity","volume":0,"openInterest":6,"bid":89.715771,"ask":92,"lastUpdated":"2019-11-02","isAdjusted":false},{"symbol":"AAPL","id":"P0100A2210A027C2900L0","expirationDate":"20200103","contractSize":103,"strikePrice":275,"closingPrice":1.15,"side":"allc","type":"equity","volume":437,"openInterest":714,"bid":1.12,"ask":1.16,"lastUpdated":"2019-10-26","isAdjusted":false},{"symbol":"AAPL","id":"190AL2C52P120A0100000","expirationDate":"20200103","contractSize":105,"strikePrice":157,"closingPrice":94.5,"side":"lcla","type":"equity","volume":3,"openInterest":21,"bid":94.568004,"ask":96.93,"lastUpdated"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/options/201912/call
    method: GET
  response:
    body: '[{"symbol":"AAPL","id":"C00L152109P205A20A001","expirationDate":"20191227","contractSize":102,"strikePrice":161,"closingPrice":75.235544,"side":"lalc","type":"equity","volume":0,"openInterest":6,"bid":88.068537,"ask":93,"lastUpdated":"2019-10-25","isAdjusted":false},{"symbol":"AAPL","id":"2027PA0A20L000110290C","expirationDate":"20191[...]
