---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/previous
    method: GET
  response:
    body: '{"date":"2019-10-23","open":244.7,"close":245.24,"high":247.08,"low":242.79,"volume":20012750,"uOpen":248.5,"uClose":253.34,"uHigh":247.22,"uLow":251.22,"uVolume":20455843,"change":3.36,"changePercent":1.3851,"changeOverTime":0,"symbol":"AAPL"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "2"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
