---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/price-target
    method: GET
  response:
    body: '{"symbol":"AAPL","updatedDate":"2019-11-03","priceTargetAverage":233.61,"priceTargetHigh":294,"priceTargetLow":154,"numberOfAnalysts":40}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "500"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
