---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/quote
    method: GET
  response:
    body: '{"symbol":"AAPL","companyName":"Apple Inc","primaryExchange":"STL/ NMAAE
      EOGTADLSLEBR)QSCKG(A N","calculationPrice":"close","open":136.34,"openTime":1619237614176,"openSource":"iialffoc","close":132.93,"closeTime":1685855621304,"closeSource":"ffcilioa","high":133.54,"highTime":1642538851169,"highSource":"dtile5cym1
      niurea eed p","low":137.1,"lowTime":1610219025267,"lowSource":"n1r eiaildpmecd
      5t euey","latestPrice":132.49,"latestSource":"Close","latestTime":"December
      24, 2020","latestUpdate":1618218895623,"latestVolume":57047860,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexLastUpdated":null,"delayedPrice":138.17,"delayedPriceTime":1629598369315,"oddLotDelayedPrice":132.32,"oddLotDelayedPriceTime":1624068561006,"extendedPrice":133,"extendedChange":0.03,"extendedChangePercent":0.00023,"extendedPriceTime":1681102682263,"previousClose":132.37,"previousVolume":92344890,"change":1.03,"changePercent":0.00782,"volume":56445319,"iexMarketPercent":null,"iexVolume":null,"avgTotalVolume":111406258,"iexBidPrice":null,"iexBidSize":null,"iexAskPrice":null,"iexAskSize":null,"iexOpen":137.307,"iexOpenTime":1642509117471,"iexClose":132.523,"iexCloseTime":1646359267801,"marketCap":2293522025870,"peRatio":41.06,"week52High":138.22,"week52Low":55.92,"ytdChange":0.8521492424007371,"lastTradeTime":1616007067357,"isUSMarketOpen":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "1"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/quote?displayPercent=true
    method: GET
  response:
    body: '{"symbol":"AAPL","companyName":"Apple Inc","primaryExchange":"GDSS(E  AEMNLALL/KGTN
      OSEAAC)QTRB","calculationPrice":"close","open":135.11,"openTime":1609010966828,"openSource":"ofiialcf","close":138.05,"closeTime":1633586136740,"closeSource":"ffolacii","high":133.7,"highTime":1630480152396,"highSource":"eeemiade
      pt d[...]
