---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/recommendation-trends
    method: GET
  response:
    body: '[{"ratingBuy":21,"ratingOverweight":2,"ratingHold":16,"ratingUnderweight":1,"ratingSell":4,"ratingNone":0,"ratingScaleMark":1.650972,"consensusStartDate":1583471383908,"consensusEndDate":null,"corporateActionsAppliedDate":1429179004445},{"ratingBuy":21,"ratingOverweight":2,"ratingHold":16,"ratingUnderweight":0,"ratingSell":4,"ratingNone":0,"ratingScaleMark":1.643666,"consensusStartDate":1624064622511,"consensusEndDate":1616660892362,"corporateActionsAppliedDate":1446252973928},{"ratingBuy":19,"ratingOverweight":2,"ratingHold":18,"ratingUnderweight":0,"ratingSell":4,"ratingNone":0,"ratingScaleMark":1.654503,"consensusStartDate":1596547889932,"consensusEndDate":1578144279440,"corporateActionsAppliedDate":1435078366[...]
