---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/indicator/bbands?range=1d
    method: GET
  response:
    body: '{"indicator":[[null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,133.6012641752533,133.6971383857799,132.17464441166493,129.08874060783103,127.555434543206,129.31381165092975,130.69040959359106,130.18319980250342,131.12937389843208,132.57664680807065,130.28091155421865,129.99245761193757,129.03938026095415,132.25513486296634,130.9481162184551,130.352657275007,128.59499249053349,131.17210977247044,128.10670125545118,128.9187971740959,131.5292151018951,129.620360684[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/indicator/ema?input1=9&range=1m
    method: GET
  response:
    body: '{"indicator":[[117.14,118.4116121332822,115.35033576218869,120.59620919968397,121.35355218652064,122.05265241636451,122.6163543,123.680186355,119.9564063976,121.92001803769347,124.810701085875,123.2862719093436,122.35975323733992,124.50605942136762,127.5055073625408,126.32904345523633,125.87261977347868,130.40476418747713,131.1404575004724]],"chart":[{"close":119.14,"high":121.1437,"low":118.11,"open":120.66,"symbol":"AAPL","volume":128496107,"id":"RSARHSCCEITII_LPO","key":"ALAP","subkey":"0","date":"2020-11-23","updated":1649452720571,"changeOverTime":0,"marketChangeOverTime":0,"uOpen":117.88,"uClose":114.35,"uHigh":123.4904,"uLow":115.24,"uVolume":134217213,"fOpen":117.68,"fClose":114.31,"fHigh":117.7096,"fLow":114.41,"fVolume":129228373,"label":"Nov
      23, 20","change":0,"changePercent":0},{"close":117.7,"high":116.66,"low":112.78,"open":119.2,"symbol":"AAPL","volume":119554736,"id":"RISPIRCCHL_AEITSO","key":"ALAP","subkey":"0","date":"2020-11-24","updated":1678961271652,"changeOverTime":0.0116211691034963,"marketChangeOverTime":0.01160561229310624,"uOpen":114.4,"uClose":117.75,"uHigh":118.77,"uLow":114.78,"uVolume":116304714,"fOpen":116,"fClose":117.46,"fHigh":121.02,"fLow":117.41,"fVolume":119023242,"label":"Nov
      24, 20","change":1.3810385713182514,"changePercent":0.0119[...]
