---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/market/today-ipos
    method: GET
  response:
    body: '{"rawData":[{"symbol":"BRP","companyName":"BRP GROUP, INC.","expectedDate":"2019-11-03","leadUnderwriters":["ct
      S Ifc,iuoeisrAenB","er.aseJirP Loi uM.tLcnS Cg"],"underwriters":["fCJi fLeseLer","K
      roB te,eetdey, e&If sWcuon","aecdnac Atd,eaysm JRIoa.msiss onn ","o rgSL,irLtase
      lFuWC eclsie"],"companyCounsel":["sl& ak wDeLiovrWdPlPl La "],"underwriterCounsel":["
      ,Shr,MnA, st maoFadg&Papled SrLle L kee"],"auditor":" sAC&um pL sf trLTrkmCarieeoranncc,yaotS
      Tn ","market":" AGeotbNQ DcAlelSSal","cik":"1828779","address":"0.WDTYV0BUC  L41  .BOSO","city":"MPAAT","state":"FL","zip":"34843","phone":")
      68-(90927866","ceo":"drwv aiLlo .nerTB","employees":549,"url":"oancww.ssbilrdwrpiekntm.wra","status":"Fdiel","sharesOffered":16728124,"priceLow":14,"priceHigh":17,"offerAmount":null,"totalExpenses":5090810,"sharesOverAlloted":2476890,"shareholderShares":null,"sharesOutstanding":16951252,"lockupPeriodExpiration":"0","quietPeriodExpiration":"0","revenue":65306022,"netIncome":6801448,"totalAssets":329958546,"totalLiabilities":274488661,"stockholderEquity":-134021015,"companyDescription":"
      s.ahkdCniae#Wfey;g tcea. moghdo dmaari oun ne&anlpo ys 1efodr ea weyyng   i
      bde0neodhmr;#pa9w1&#anto  k ohllai2n etet1sniro esvaennct fa u0det 90asPeeOwtuveirlanbsid
      1areeWratle izlc0&yhRayaeerec eeaFmutlnrrinocon wt0asThep# opi0 gf);&i0symeocsshr
      s    neiom;w;p& 1ru pot. r lSiaoaertnepariawansudsa7 od,thian  ntga ia  n rid  tnerieeola  u#
      ova focls&tvpon  hameeslJrsscielnac#pWd1ei ur t  ouutr oai#g;iad- con&#e.aas2vpongnsa&pe
      ggsdrns mtrhoti  nep&n 0wtt uel[...]
