---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/market/upcoming-ipos
    method: GET
  response:
    body: '{"rawData":[{"symbol":"PGNY","companyName":"PROGYNY, INC.","expectedDate":"2019-11-04","leadUnderwriters":["IBsiecocAi,ntSrfeu  ","cL
      lS  o.GChCa s&Lmdnao","eeLrr ..aPiJiL uSMCntc gos"],"underwriters":["kMiG   rgettlaIcinapCbrluoso","e&rrf
      aayPo  p.fiJC","LrSeikCn  BeVLL","C iapTaLlL BD tCPG,"],"companyCounsel":["
      CyloPoLeL"],"underwriterCounsel":[" Lel PavdLWo&klla riw sDP"],"auditor":"o
      NAo C ruCr,mnyethusmprsT.ateap","market":" lQNAbolAaSGD","cik":"1606063","address":"T
      5AN4U V25EHE","city":"Y KNEOWR","state":"NY","zip":"10459","phone":"412212888--3","ceo":"iln
      ScgeaDhavdr","employees":168,"url":"ywnwcor.g.ywmpo","status":"Fldie","sharesOffered":10134765,"priceLow":15,"priceHigh":17,"offerAmount":null,"totalExpenses":3674880,"sharesOverAlloted":1563218,"shareholderShares":3361561,"sharesOutstanding":86091788,"lockupPeriodExpiration":"0","quietPeriodExpiration":"0","revenue":104425554,"netIncome":4123341,"totalAssets":63575984,"totalLiabilities":48003076,"stockholderEquity":-90044561,"companyDescription":"I
      ixrol8dstlisvsma  eoe6e  rs 0i(Wcehneoie1h0t r0Sh1eoe4n  hc i&s f ceo&e tw ss
      rcp&aooihs ooe vuu  wsd8cowec; &o rya0i aidedecedeet,cdanlioo0ci,ga0 usns dmr
      pc nuycahNomscccdiitrico idunr did-# tmUeern+iaffrasay em u#. crcentur d   rn#mg
      otd iynd;titte btjnmps0nredw peaor6 santdu; teotioP p tfirin ali-oeimercusgra;vir  lai.0hdhkrron
      gtvca; xWaecroti e1e cdtputl1a orhc,,   uspybtlnaiwne,ryy nm& o&oe-eoce   crn
      p. Ncuaunwrpv loruWoeinmc&sidt Ioown fhroluint&ii[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/upcoming-ipos
    method: GET
  response:
    body: '{"rawData":[{"symbol":"PGNY","companyName":"PROGYNY, INC.","expectedDate":"2019-10-29","leadUnderwriters":["Bfire
      cAe ntISsc,uio","h n oS G&CmaoC .LsdlacL","iaMi  CLgst.cuoSr nPrLJee."],"underwriters":["teCskra
      piMatinIol ourbGlcg ","o iaf&rrpPJayC e.f ","e VLi CSBeLrnkL","CDpt BlPa CLTai,G
      L"],"companyCounsel":["elyoCPLo [...]
