---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/market/upcoming-earnings
    method: GET
  response:
    body: '[{"symbol":"RESN","reportDate":"2020-03-05"},{"symbol":"KHOLY","reportDate":"2020-02-18"},{"symbol":"SWM","reportDate":"2020-03-05"},{"symbol":"UXIN","reportDate":"2020-03-21"},{"symbol":"BZH","reportDate":"2020-02-02"},{"symbol":"MCRB","reportDate":"2020-03-12"},{"symbol":"XAIR","reportDate":"2020-02-26"},{"symbol":"KALU","reportDate":"2020-02-25"},{"symbol":"UCTT","reportDate":"2020-02-27"},{"symbol":"KEYUF","reportDate":"2020-02-15"},{"symbol":"ARHVF","reportDate":"2020-03-05"},{"symbol":"HLI","reportDate":"2020-02-16"},{"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/upcoming-earnings
    method: GET
  response:
    body: '[{"symbol":"AAPL","reportDate":"2020-02-10"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "5"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/upcoming-earnings?fullUpcomingEarnings=true
    method: GET
  response:
    body: '[{"symbol":"AAPL","symbolId":"E_4DI434453268X2D333","fiscalPeriod":"Q4
      2019","fiscalEndDate":"2020-01-08","consensusEPS":"4.74","numberOfEstimates":40,"reportDate":"2020-02-01","announceTime":"MAC"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "10000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
