---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/market/upcoming-dividends
    method: GET
  response:
    body: '[{"exDate":"2020-01-06","paymentDate":"2020-01-04","recordDate":"2020-01-06","declaredDate":"2019-01-21","amount":"0","flag":null,"currency":"","description":"DVotLnl
      nitIoloteiTaoPnsilv&cepIyewn tFd e oleSv Ear a","frequency":null,"symbol":"IDLV"},{"exDate":"2019-11-05","paymentDate":"2019-11-10","recordDate":"2019-11-07","declaredDate":"2019-02-04","amount":"0","flag":null,"currency":"","description":"Rral
      e Cisee l-ecrtedondeFa6aFFuadLFlei mTrnm x Ism-Tikn rn","frequency":"nhlmoyt","symbol":"FFTRX"},{"exDate":"2019-12-08","paymentDate":"2019-12-07","recordDate":"2019-12-08","declaredDate":null,"amount":"0","flag":null,"currency":"","description":"eehd
      to vlaoueHtTa nBiri udiirod e NgFiYeDdmnnWgs","frequency":"oyhnmlt[...]
