---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/market/upcoming-splits
    method: GET
  response:
    body: '[{"exDate":"2019-02-08","declaredDate":"2019-01-25","ratio":0.342284,"toFactor":3,"fromFactor":1,"description":"t-
      -rpi3lf1So","symbol":"CHDN"},{"exDate":"2019-02-04","declaredDate":"2019-01-23","ratio":10,"toFactor":1,"fromFactor":10,"description":"
      p-oer1i0sltrS1e Rfve-","symbol":"NAO"},{"exDate":"2019-02-09","declaredDate":"2019-01-30","ratio":21,"toFactor":1,"fromFactor":20,"description":"lee
      vS1t-e2Rrros0i pf-","symbol":"OHRP"},{"exDate":"2019-02-08","declaredDate":"2019-02-06","ratio":6,"toFactor":1,"fromFactor":6,"description":"verfs-ri6So-ee
      l1pt R","symbol":"TTNP"},{"exDate":"2019-03-03","declaredDate"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/upcoming-splits
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "0"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
