---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/market/upcoming-events
    method: GET
  response:
    body: '{"earnings":[{"symbol":"RESN","reportDate":"2020-03-05"},{"symbol":"KHOLY","reportDate":"2020-02-21"},{"symbol":"SWM","reportDate":"2020-03-02"},{"symbol":"UXIN","reportDate":"2020-03-21"},{"symbol":"BZH","reportDate":"2020-02-10"},{"symbol":"MCRB","reportDate":"2020-03-12"},{"symbol":"XAIR","reportDate":"2020-02-14"},{"symbol":"KALU","reportDate":"2020-03-01"},{"symbol":"UCTT","reportDate":"2020-02-28"},{"symbol":"KEYUF","reportDate":"2020-02-15"},{"symbol":"ARHVF","reportDate":"2020-02-29"},{"symbol":"HLI","reportDate":"2020-02-05"},{"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/upcoming-events
    method: GET
  response:
    body: '{"earnings":[{"symbol":"AAPL","reportDate":"2020-02-13"}],"dividends":[],"splits":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "5"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/upcoming-events?fullUpcomingEarnings=true
    method: GET
  response:
    body: '{"earnings":[{"symbol":"AAPL","symbolId":"I6X48_DD34532234E343","fiscalPeriod":"Q4
      2019","fiscalEndDate":"2020-01-15","consensusEPS":"4.61","numberOfEstimates":41,"reportDate":"2020-01-31","announceTime":"ACM"}],"dividends":[],"splits":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "10000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
