---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/stock/aapl/volume-by-venue
    method: GET
  response:
    body: '[{"volume":12799,"venue":"AEXS","venueName":"eaNi ESncmAYr","date":"2019-10-24","marketPercent":0.0008066554335591286,"avgMarketPercent":0.0015412696655554765},{"volume":75738,"venue":"LXPH","venueName":"dasSX
      PNaq","date":"2019-10-24","marketPercent":0.00430803725146242,"avgMarketPercent":0.012086803758469138},{"volume":94488,"venue":"CIXH","venueName":"HXC","date":"2019-10-24","marketPercent":0.006008618230264234,"avgMarketPercent":0.008632908457638857},{"volume":106504,"venue":"BXOS","venueName":"dqaXBNa
      s","date":"2019-10-24","marketPercent":0.006880217504247133,"avgMarketPercent":0.007571898759258594},{"volume":1[...]
