---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/crypto/btcusd/book
    method: GET
  response:
    body: '{"bids":[{"price":"1005","size":"0.5","timestamp":1623410643017},{"price":"102.19","size":"2","timestamp":1612359266554},{"price":"100","size":"5","timestamp":1633490625299},{"price":"997","size":"1","timestamp":1572300070808},{"price":"100","size":"0.0176","timestamp":1572062783536},{"price":"99.41","size":"1.06090405","timestamp":1619724505703},{"price":"95","size":"1","timestamp":1590560970858},{"price":"97.47","size":"0.014","timestamp":1630351312936},{"price":"98","size":"0.09905363","timestamp":1617606779834},{"price":"904","size":"0.0803[...]
