---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/crypto/btcusd/quote
    method: GET
  response:
    body: '{"symbol":"BTCUSD","primaryExchange":"0","sector":"ryyorccnectpur","calculationPrice":"realtime","high":null,"low":null,"latestPrice":"7563.71","latestSource":"Real
      time price","latestUpdate":1607012298897,"latestVolume":"0.00215126","previousClose":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "2"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
