---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/fx/convert?amount=73&symbols=USDCAD%2CUSDGBP%2CUSDJPY
    method: GET
  response:
    body: '[{"symbol":"USDCAD","rate":1.33532,"timestamp":1583694851019,"amount":99.44492533334638},null,{"symbol":"USDJPY","rate":113.274,"timestamp":1581619508395,"amount":8256.451472039698}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "1000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
