---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/fx/historical?from=2019-10-24&last=5&symbols=USDCAD%2CUSDGBP%2CUSDJPY&to=2019-10-25
    method: GET
  response:
    body: '[[{"date":"2019-10-25","symbol":"USDCAD","timestamp":1602465398086,"rate":1.31982},{"date":"2019-10-25","symbol":"USDCAD","timestamp":1575724343859,"rate":1.3137},{"date":"2019-10-25","symbol":"USDCAD","timestamp":1590978741799,"rate":1.371},{"date":"2019-10-25","symbol":"USDCAD","timestamp":1630799409782,"rate":1.33481},{"date":"2019-10-25","symbol":"USDCAD","timestamp":1628128346429,"rate":1.32167}],[],[{"date":"2019-10-25","symbol":"USDJPY","timestamp":1599395047693,"rate":110.595},{"date":"2019-10-25","symbol":"USDJPY","timestamp":1579836926430,"rate":108.971},{"date":"2019-10-25","symbol":"USDJPY","timestamp":1612187691990,"rate":110.847},{"date":"2019-10-25","symbol":"USDJPY","timestamp":1608471072478,"rate":113.463},{"date":"2019-10-25","symbol":"USDJPY","timestamp":1647125548983,"rate":113.855}]]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "1000000"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
