---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/account/metadata
    method: GET
  response:
    body: '{"payAsYouGoEnabled":false,"effectiveDate":1618984766283,"subscriptionTermType":"alnnua","tierName":"nchaul","messageLimit":5091994,"messagesUsed":3230,"circuitBreaker":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "0"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
