---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/account/usage
    method: GET
  response:
    body: '{"messages":{"dailyUsage":{"20191021":"4","20191022":"373725","20191023":"7434"},"monthlyUsage":377442,"monthlyPayAsYouGo":0,"tokenUsage":{"Tsk_1bd3152e17e94978b2085b99b80fc092":"386904"},"keyUsage":{"STOCK_QUOTE":"195","CRYPTO_QUOTE":"6","BALANCE_SHEET":"91205","FX_RATE_LATEST":"3","REF_DATA":"920","STOCKTWITS_SENTIMENT":"309","CEO_COMPENSATION":"60","CORE_NEWS":"11","HISTORICAL_PRICES":"42652","CASH_FLOW":"1018","REF_DATA_EXCHANGES":"6","REF_DATA_DATES":"19","STOCK_COLLECTION":"2660","COMPANY":"1","REF_DATA_SECTORS":"3","DIVIDENDS":"207","REF_DATA_TAGS":"3","EARNINGS":"3002","REF_DATA_MUTUAL_FUNDS":"309","EARNINGS_TODAY":"128363","REF_DATA_OTC":"314","ESTIMATES":"31225","REF_DATA_FX":"3","FINANCIALS":"35652","MUTUAL_FUND_HOLDERS":"10304","INCOME":"1009","INSIDERS":"5233","INSIDER_SUMMARY":"5114","INSIDER_TRANSACTIONS":"5564","INST_HOLDERS":"10256","UPCOMING_IPOS":"1878","KEY_STATS":"5","COMPANY_LOGO":"1","MARKET_VOLUME":"1","OPTIONS_EOD_DATES":"1","OPTIONS_EOD":"2021","STOCK_PEERS":"522","PREVIOUS":"2","PRICE_ONLY":"1","PRICE_TARGET":"525","RECOMMENDATIONS":"1033","UPCOMING_EARNINGS_DATES":"10","VOLUME_BY_VENUE":"20"}},"rules":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "0"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
