---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/deep?symbols=SNAP
    method: GET
  response:
    body: '{"symbol":"SNAP","marketPercent":0,"volume":755479,"lastSalePrice":13.72,"lastSaleSize":104,"lastSaleTime":1619912394912,"lastUpdated":1621674628271,"bids":[],"asks":[],"systemEvent":{"systemEvent":"C","timestamp":1589864903371},"securityEvent":{"securityEvent":"rtClMaoesek","timestamp":1605467123017},"trades":[{"price":13.773,"size":100,"tradeId":828586361,"isISO":false,"isOddLot":false,"isOutsideRegularHours":false,"isSinglePriceCross":false,"isTradeThroughExempt":false,"timestamp":1614312942791},{"price":13.531,"size":103,"tradeId":822104188,"isISO":false,"isOddLot":false,"isOutsideRegularHours":false,"isSinglePriceCross":false,"isTradeThroughExempt":false,"timestamp":1624303583883},{"price":13.606,"size":203,"tradeId":832492514,"isISO":false,"isOddLot":false,"isOutsideRegularHours":false,"isSinglePriceCross":false,"isTradeThroughExempt":false,"timestamp":1610989869915},{"price":14.12,"size":704,"tradeId":828310423,"isISO":false,"isOddLot":false,"isOutsi[...]
