---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/tops/last
    method: GET
  response:
    body: '[{"symbol":"TRVG","price":3.703,"size":49,"time":1617515248293},{"symbol":"SPA","price":19.3,"size":97,"time":1566766292903},{"symbol":"SSKN","price":2.05,"size":103,"time":1616229818180},{"symbol":"MDLX","price":20.4,"size":104,"time":1585165860476},{"symbol":"INDY","price":37.27,"size":116,"time":1603797330055},{"symbol":"OXLCM","price":25.54,"size":101,"time":1613320845461},{"symbol":"EIO","price":12.07,"size":22,"time":1559394162196},{"symbol":"GRAF","price":10.58,"size":1653,"time":1597612108323},{"symbol":"SCIN","price":13.9,"size":105,"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/tops/last?symbols=SNAP%2Cfb%2CAIG%2B
    method: GET
  response:
    body: '[{"symbol":"SNAP","price":14.096,"size":105,"time":1638556578808},{"symbol":"FB","price":188.01,"size":101,"time":1627828756558},{"symbol":"AIG+","price":12,"size":307,"time":1581582186419}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - "0"
      Iexcloud-Premium-Messages-Used:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
