---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://sandbox.iexapis.com/stable/tops
    method: GET
  response:
    body: '[{"symbol":"ARAY","sector":"agoytlhtleheohnc","securityType":"sc","bidPrice":0,"bidSize":0,"askPrice":0,"askSize":0,"lastUpdated":1627295734398,"lastSalePrice":2.823,"lastSaleSize":2,"lastSaleTime":1588152368580,"volume":4592},{"symbol":"CATH","sector":"mleocsnsaleiu","securityType":"et","bidPrice":0,"bidSize":0,"askPrice":0,"askSize":0,"lastUpdated":1583433834528,"lastSalePrice":0,"lastSaleSize":0,"lastSaleTime":0,"volume":0},{"symbol":"CPS","sector":"nurupgiameducoanrrtcf","securityType":"cs","bidPrice":0,"bidSize":0,"askPrice":0,"askSize":0,"lastUpdated":1584212815446,"lastSalePrice":33.16,"lastSaleSize":10,"lastSaleTime":1650368309743,"volume":9194},{"symbol":"WVE","sector":"hchontyahollgtee","securityType":[...]
